# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
*.egg

# Node
node_modules/
dist/
.cache/

# Env
.env
*.env
!.env.example

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# DB
*.sqlite3
